version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - staticfiles:/app/staticfiles
      - bundles:/app/bundles
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    volumes:
      - bundles:/app/bundles

  db:
    image: postgres:14
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    volumes:
      - staticfiles:/staticfiles:ro
      - bundles:/bundles:ro

volumes:
  db-data:
  staticfiles:
  bundles:
